body{
	font-family: 'Microsoft Yahei', Verdana, arial, sans-serif;
	font-size:14px;
	background:#e1e1e1;
	padding:0;
	margin:0;
}
a{text-decoration:none;color:#174B73;}
a:hover{ text-decoration:none;color:#FF6600;}
.p404{width:1000px; height:560px; margin:0 auto; background:url('../images/404bg.jpg') no-repeat; position:relative;}
.p404_about{width:430px; position:absolute; top:300px; left:530px;}